* {
    box-sizing: border-box;
}
body {
    padding: 40px 20px;
    background-color: #FFEBCD;
    margin: 0;
}

main h1,
main h3{
     text-align: center;
    margin-bottom: 2rem;
    color: #2F4F4F;
}


/*
.hero {
text-align: center;
background-color: #FFEBCD;
font-family: "Georgia", "Times New Roman", serif;
color: #2F4F4F;
padding: 60px 20px;
}

.hero-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: auto;
}

.hero button{
    margin-top: 20px;
    width: 35%;
    padding: 12px;
    background-color: #2F4F4F;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}
.hero button:hover{
    background-color: #6B8E23;
}

h4 {
    margin-bottom: 1.5rem;
 font-family: "Georgia", "Times New Roman", serif;
color: #2F4F4F;   
}*/
