body {
    margin: 0;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D2B48C;
}
.logo img {
    height: 45px;
    width: auto;
}

.hero {
text-align: center;
background-color: #FFEBCD;
font-family: "Georgia", "Times New Roman", serif;
color: #2F4F4F;
padding: 60px 20px;
}
.hero-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: auto;
}
p {
 font-family: "Georgia", "Times New Roman", serif;
color: #2F4F4F;   
}
